.header {
  height: 135px;
  background-color: #b2b2b2;
}
.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: -51px 20px 0 20px;
}
.content {
  padding: 15px;
} 